{
    "plugins": ["@typescript-eslint", "promise", "unicorn"],
    "extends": [
        "airbnb-typescript",
        "plugin:@typescript-eslint/recommended",
        "plugin:promise/recommended",
        "plugin:unicorn/recommended",
        "plugin:react/recommended",
        "prettier",
        "prettier/react",
        "prettier/@typescript-eslint"
    ],
    "env": {
        "node": true,
        "browser": true
    },
    "parserOptions": {
        "ecmaVersion": 10,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "no-console": "off",
        "unicorn/filename-case": [
            "error",
            {
                "case": "camelCase"
            }
        ],
        "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
        "@typescript-eslint/explicit-function-return-type": "off",
        "no-useless-return": "off"
    }
}
