@import "~scss/variables";
@import "~scss/mixins";
@import "~scss/colors";

.button {
    display: inline-flex;
    margin: 0.5em;
    padding: 0.75em 2em;
    border-radius: $borderradius;
    color: $font-color-white;
    font-size: 1.2em;
    border: 2px solid $font-color-white;
    overflow: hidden;
    @include ease-in-out(all, 200ms);

    &.primary {
        color: $primary;
        border-color: $primary;

        @include hover-focus-active {
            color: lighten($primary, 15%);
            border-color: lighten($primary, 15%);
        }
    }
    &.secondary {
        color: $secondary;
        border-color: $secondary;

        @include hover-focus-active {
            color: lighten($secondary, 15%);
            border-color: lighten($secondary, 15%);
        }
    }
}