@import "~scss/colors";
@import "~scss/mixins";
@import "~scss/variables";
@import "~scss/components/dropdown";

$icongrid-topbar-height: 3rem;

.icongrid {
  margin: 2rem;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;

    @include medium {
      grid-template-columns: repeat(4, 1fr);
    }

    @include large {
      grid-template-columns: repeat(6, 1fr);
    }

    &.is-empty {
      grid-template-columns: none;
    }
  }

  &__filters {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    @include medium {
      flex-direction: row;
    }
  }

  &__search {
    display: flex;
    height: $icongrid-topbar-height;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: hidden;
    @include ease-in-out(all, 200ms);
    @include tile;

    @include hover-focus-active {
      input::placeholder {
        color: rgba($text-color, 0.5);
      }
    }

    svg {
      display: block;
      width: 1.4rem;
      height: 1.4rem;
      margin-right: 1rem;
    }

    input {
      position: relative;
      top: -1px;
      width: 100%;
      height: 100%;
      background: transparent;
      outline: none;
      border: none;
      padding: 0;
      color: $text-color;

      &::placeholder {
        @include ease-in-out(all, 200ms);
      }
    }
  }

  &__dropdown {
    width: 100%;
    height: $icongrid-topbar-height;
    margin-top: 0.5rem;

    @include medium {
      width: 30%;
      margin-top: 0;
      margin-left: 1rem;
    }
  }

  &__empty {
    display: flex;
    width: 100%;
    height: 10rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    @include tile;

    @include hover-focus-active {
      border-color: lighten($tile-background, 4%);
    }
  }
}
