@import "~scss/styles";

body {
    color: #FFFFFF;
    background: $bg-color;
    font-family: $fontfamily;
}
button, input, optgroup, select, textarea {
    font-family: $fontfamily;
}

a {
    color: $primary;
    text-decoration: none;
    font-weight: 600;
    @include ease-in-out(all, 200ms);

    @include hover-focus-active {
        color: lighten($primary, 10%)
    }
}