@import "~scss/variables";
@import "~scss/mixins";
@import "~scss/colors";

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 3rem 0.5rem 0 0.5rem;
    padding: 3rem 1rem;
    color: rgba($font-color-white, 0.5);
    border-top: 1px solid rgba($font-color-white, 0.05);

    @include medium {
        padding: 3rem;
    }

    a {
        color: rgba($font-color-white, 0.7);
        cursor: pointer;

        @include hover-focus-active {
            color: rgba($font-color-white, 0.9);
        }
    }

    &__legal {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 1.5rem;
        font-size: 0.8em;
        opacity: 0.5;

        span {
            margin: 0.25em;
        }
    }
}