@mixin small {
    @content;
}

@mixin medium {
    @media screen and (min-width: $breakpoint-md) {
        @content;
    }
}

@mixin large {
    @media screen and (min-width: $breakpoint-lg) {
        @content;
    }
}

@mixin hover-focus-active {
    &:hover,
    &:focus,
    &:active {
        @content;
    }
}

@mixin boxshadow {
    box-shadow: 0 0.063em 0.313em 0 rgba(0,0,0,.07), 0 0.438em 1.063em 0 rgba(0,0,0,.15);
}

@mixin ease-in-out($property, $duration) {
    transition-property: $property;
    transition-duration: $duration;
    transition-timing-function: ease-in-out;
    transform-style: preserve-3d;
}