@use "sass:color";

$body-bg: #383f49;
$body-color: #9c9c9c;
$white: #ffffff;
$black: #000000;
$primary: #17b4d0;

// Tags
$tag-role: #17b4d0;
$tag-org: #b241d1;
$tag-squad: #7765cd;

// Gradients
$gradient-step-1: #ee7752;
$gradient-step-2: #e73c7e;
$gradient-step-3: #23a6d5;
$gradient-step-4: #23d5ab;
