$border-radius: 14px;

// Breakpoints
$media-direction: min;
$grid-breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
  "xxxl": 1600px,
);
$grid-container-maxwidths: (
  "sm": 540px,
  "md": 720px,
  "lg": 960px,
  "xl": 1140px,
  "xxl": 1220px,
  "xxxl": 1320px,
);

// Font weights
$fontweights: (
  "regular": 400,
  "bold": 700,
);
